@tailwind components;

@layer components {

  body {
    @apply overflow-x-hidden
  }

  .shadow-button {
    --tw-shadow: var(--button-shadow);
    --tw-shadow-colored: var(--button-shadow);
  }

  .shadow, .shadow-button {
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  }

  .button-class {
    @apply focus-visible:ring-2 focus-visible:ring-blue-300 focus-visible:outline-none border border-transparent focus-visible:border-blue-500 leading-none touch-none select-none disabled:opacity-50 disabled:cursor-not-allowed w-auto flex-none
    border border-black border-opacity-10 hover:border-opacity-20 relative transform-gpu
    before:hidden before:absolute before:-inset-[1.5px] before:rounded-lg before:border-[.5px] before:border-black/80
    after:block after:absolute after:-inset-[1px] after:rounded-md after:bg-gradient-to-t after:from-black/5 after:opacity-50 hover:after:opacity-100 after:transition-opacity shadow-button
  }

  .button {
    @apply inline-flex space-x-2 flex-none items-center justify-center cursor-pointer leading-none transition-all font-semibold px-5 py-2.5 text-sm opacity-100 rounded-md text-slate-700 hover:text-slate-900 bg-white hover:scale-105 button-class
  }

}